.title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.dropdown-container {
  padding: 10px;
}

.custom-dropdown {
  --background: #f4a460;
  /* Warna kuning kecokelatan */
  --color: white;
  /* Warna teks putih */
  --placeholder-color: white;
  --min-width: 200px;
  --padding-start: 8px;
  --padding-end: 8px;
  --height: 40px;
  --border-radius: 10px;
  --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-dropdown::part(text) {
  color: white;
  /* Teks dropdown putih */
  font-weight: bold;
}

.custom-dropdown::part(text) {
  color: black;
  font-size: 13px;
}

.button-container {
  padding: 10px;
  text-align: center;
}

ion-button {
  --background: #620000;
  /* Warna tombol */
  --color: white;
  /* Warna teks tombol */
  --border-radius: 10px;
  --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
