.title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.dropdown-container {
  padding: 10px;
}

.custom-dropdown {
  --background: #FFC300;
  --color: white;
  --placeholder-color: white;
  --min-width: 200px;
  --padding-start: 8px;
  --padding-end: 8px;
  --height: 40px;
  --border-radius: 10px;
  --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-dropdown::part(text) {
  color: white;
  font-weight: bold;
}

.custom-dropdown::part(text) {
  color: black;
  font-size: 13px;
}

.refresh-container {
  background-color: #11161a;
  padding: 10px;
  text-align: center;
}

/* Fix the map container height */
.map-container {
  height: calc(100% - 120px); /* Adjusted height for the map */
}

/* Styling for the ion-button */
ion-button {
  --background: #065379;
  --color: white;
  --border-radius: 10px;
  --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-right: 20px;
}
